body {
  color: black;
}
.init-font {
  font-size: 12px;
}
.room-price {
  background-color: lightgrey;
  color: black;
  text-align: right;
  width: 35px;
}
.room-free {
  background-color: lightgrey;
  color: black;
  text-align: right;
  width: 35px;
}
.room-hold {
  background-color: grey;
  color: black;
  text-align: right;
  width: 35px;
}
.room-book {
  background-color: black;
  color: white;
  text-align: right;
  width: 35px;
}
.room-mine {
  background-color: blue;
  color: white;
  text-align: right;
  width: 35px;
}
.btn-book {
  background-color: blue;
  color: yellow;
}
