body {
  color: black;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
#MakeRes {
  position: absolute;
  left: 4%;
  width: 11%;
  top: 60px;
  height: 50px;
}
#MapDirs {
  position: absolute;
  left: 87%;
  width: 11%;
  top: 35px;
  height: 50px;
}
#Contact {
  position: absolute;
  left: 87%;
  width: 11%;
  top: 105px;
  height: 30px;
}
#Caption {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.Head {
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  height: 70px;
}
.Head1 {
  position: absolute;
  left: 0;
  width: 20%;
  top: 0;
  height: 100%;
}
.Head2 {
  position: absolute;
  left: 22%;
  width: 20%;
  top: 0;
  height: 100%;
}
.Head3 {
  position: absolute;
  left: 40%;
  width: 20%;
  top: 0;
  height: 100%;
}
.HeadA {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
.Instruct {
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  height: 70px;
}
.Instruct1 {
  position: absolute;
  left: 0;
  width: 20%;
  top: 0;
  height: 100%;
}
.Instruct2 {
  position: absolute;
  left: 22%;
  width: 20%;
  top: 0;
  height: 100%;
}
.Instruct3 {
  position: absolute;
  left: 40%;
  width: 20%;
  top: 0;
  height: 100%;
}
.Instruct4 {
  position: absolute;
  left: 60%;
  width: 20%;
  top: 0;
  height: 100%;
}
.InstructA {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
#Book {
  display: none;
}
#View {
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #555;
  color: yellow;
}
.HomeSee {
  position: absolute;
  left: 20%;
  width: 80%;
  top: 5%;
  height: 7%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.RoomSee {
  position: absolute;
  left: 0;
  width: 20%;
  top: 5%;
  height: 7%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.RoomUL {
  position: absolute;
  left: 0;
  width: 22%;
  top: 12%;
  height: 88%;
  list-style: none;
  padding-left: 14px;
}
#Slides {
  position: absolute;
  left: 22%;
  width: 78%;
  top: 0;
  height: 100%;
}
.RoomLI {
  color: white;
  height: 8%;
}
.RoomLI a {
  color: white;
}
.init-font {
  font-size: 12px;
}
.guests {
  text-align: center;
  width: 44px;
}
.pets {
  text-align: center;
}
.nights {
  text-align: center;
}
.arrive-times {
  text-align: center;
}
.depart-times {
  text-align: center;
}
#Make {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
#GotoPay {
  text-align: center;
  margin: auto;
}
.room-free {
  background-color: lightgrey;
  color: black;
  text-align: right;
  width: 35px;
}
.room-mine {
  background-color: blue;
  color: white;
  text-align: right;
  width: 35px;
}
.room-hold {
  background-color: slategray;
  color: black;
  text-align: right;
  width: 35px;
}
.room-depo {
  background-color: dimgray;
  color: white;
  text-align: right;
  width: 35px;
}
.room-book {
  background-color: black;
  color: white;
  text-align: right;
  width: 35px;
}
.room-price {
  background-color: lightgrey;
  color: black;
  text-align: right;
  width: 35px;
}
.room-total {
  background-color: lightblue;
  color: black;
  text-align: right;
  width: 35px;
}
.arrive {
  background-color: lightgrey;
  color: black;
  width: 242px;
}
.depart {
  background-color: lightgrey;
  color: black;
  width: 242px;
}
.btn-book {
  background-color: blue;
  color: yellow;
}
.MonthTable thead tr th {
  width: 14%;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}
.MonthTable tbody tr td {
  width: 14%;
  text-align: right;
  vertical-align: top;
  border: 1px solid black;
}
.MasterTitle {
  text-align: center;
  font-size: 18px;
}
.SeasonTitle {
  text-align: center;
  font-size: 18px;
}
.MonthTable {
  width: 100%;
  height: 95%;
  border-collapse: collapse;
}
.MonthDay {
  font-size: 13px;
  text-align: right;
  font-weight: bold;
}
.MonthRoom {
  font-size: 10px;
  text-align: left;
}
.own-free {
  background-color: lightgrey;
  color: black;
  text-align: center;
}
.own-mine {
  background-color: blue;
  color: white;
  text-align: center;
}
.own-hold {
  background-color: slategray;
  color: black;
  text-align: center;
}
.own-depo {
  background-color: dimgray;
  color: white;
  text-align: center;
}
.own-book {
  background-color: black;
  color: white;
  text-align: center;
}
.Master {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 675px;
  font-size: 10px;
}
.May {
  position: absolute;
  left: 25%;
  top: 0;
  width: 25%;
  height: 33%;
  border: 2px solid black;
}
.June {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 33%;
  border: 2px solid black;
}
.July {
  position: absolute;
  left: 0;
  top: 33%;
  width: 50%;
  height: 33%;
  border: 2px solid black;
}
.August {
  position: absolute;
  left: 50%;
  top: 33%;
  width: 50%;
  height: 33%;
  border: 2px solid black;
}
.September {
  position: absolute;
  left: 0;
  top: 66%;
  width: 50%;
  height: 33%;
  border: 2px solid black;
}
.October {
  position: absolute;
  left: 50%;
  top: 66%;
  width: 25%;
  height: 33%;
  border: 2px solid black;
}
.MayQ {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 50%;
  border: 2px solid black;
}
.JuneQ {
  position: absolute;
  left: 20%;
  top: 0;
  width: 40%;
  height: 50%;
  border: 2px solid black;
}
.JulyQ {
  position: absolute;
  left: 60%;
  top: 0;
  width: 40%;
  height: 50%;
  border: 2px solid black;
}
.AugustQ {
  position: absolute;
  left: 0;
  top: 50%;
  width: 40%;
  height: 50%;
  border: 2px solid black;
}
.SeptemberQ {
  position: absolute;
  left: 40%;
  top: 50%;
  width: 40%;
  height: 50%;
  border: 2px solid black;
}
.OctoberQ {
  position: absolute;
  left: 80%;
  top: 50%;
  width: 20%;
  height: 50%;
  border: 2px solid black;
}
.Season {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 740px;
}
.MayC {
  position: absolute;
  left: 0;
  top: 0;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.JuneC {
  position: absolute;
  left: 33%;
  top: 0;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.JulyC {
  position: absolute;
  left: 66%;
  top: 0;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.AugustC {
  position: absolute;
  left: 0;
  top: 50%;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.SeptemberC {
  position: absolute;
  left: 33%;
  top: 50%;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.OctoberC {
  position: absolute;
  left: 66%;
  top: 50%;
  width: 33%;
  height: 50%;
  border: 2px solid black;
}
.rooms .top {
  text-align: center;
  display: block;
}
.rooms .top .room {
  vertical-align: middle;
  text-align: center;
  color: blue;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 24px;
  font-weight: bold;
}
.rooms .top .prev {
  vertical-align: middle;
  margin-left: 78px;
}
.rooms .top .next {
  vertical-align: middle;
}
.rooms .top .home {
  vertical-align: middle;
}
#Pays {
  display: none;
}
.Title {
  text-align: center;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}
